<div id="header">
	<h1><a href="/en/">Daily Myths</a></h1>
	<ul class="nav">
		<li><a href="/about">about</a></li>
		<!-- <li><a href="/credits">credits</a></li> -->
		<li id="language-nav" class="open_">
			<a href="/language">change language</a>
			<ul id="languages">
				<li><a href="/de/1">deutsch</a></li>			</ul>
		</li>
	</ul>	
</div><!-- /header -->

<div class="block panel"><div class="front" id="question">
	<h2>Truth or Myth?</h2>
		<img src="/images/img-stars-3.png" alt="Stars in space">
	<p>All stars are the same size.</p>
	<div class="cta">
		<button id="yes">Yes! You speak the truth.</button>
		<button id="no">No. This is a Myth.</button>
	</div>
</div>
<div class="back" id="answer">
	<h2>Answer</h2>
		<img src="/images/img-star-1.png" alt="Stars at different sizes">
	<p>
		<strong class="no">Correct!</strong>
		<strong class="yes">Wrong.</strong> 
Astronomers generally measure the size of stars by using the radius of our Sun. Stars range in size from neutron stars, which can be only 12 miles (20 kilometers) wide, to supergiants about 1,000 times the diameter of the Sun.
	</p>
	<div class="cta">
		<a target="_blank" class="button" href="http://www.space.com/57-stars-formation-classification-and-constellations.html" id="more">I want to learn more about the stars!</a>
		<a class="button" href="../2" id="next">Next Trivia Question</a>
	<div>
</div>


</div><!-- /content -->