<!doctype html>
<html>
<head>
	<title>Daily Myths</title>
	<link rel="stylesheet" href="/stylesheets/normalize.css" />
	<link rel="stylesheet" href="/stylesheets/daily-myths.css" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport" content = "width = device-width, initial-scale = .7" />
	<script src="/javascripts/jquery-1.7.2.min.js"></script>
	<script src="/javascripts/modernizr-2.5.3.min.js"></script>
	<script src="/javascripts/daily-myths.js"></script>
</head>
<body lang="en">
{{{body}}}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31106604-1']);
  _gaq.push(['_setDomainName', 'dailymyths.org']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>